
body {
    display: flex;
    flex-direction: column;
    background-color: #1b1b1e;
    color: #e8eaed;
    font-family: Arial, sans-serif;
}


canvas {
    display: block;
}


.button {
    background-color: #454e5b;
    color: #e8eaed;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #070707;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5f6368;
}


.buttons-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    flex-shrink: 0;
}



.graphButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #45496b;
    color: rgb(240, 240, 255);
    font-size: 0.72rem;
    padding: 0.6rem 0.6rem;
    border: 1px solid #d6d6d6;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    width: 100px; /* Add a fixed width */
    white-space: normal; /* Allow the text to wrap */
    line-height: 1.2; /* Adjust line-height for better readability */
    text-align: center;
    text-shadow: 1px 1px 0 rgb(50, 50, 50), -1px -1px 0 rgb(50, 50, 50);
}

.graphButton:hover {
    background-color: #5f6368;
}


.button.highlighted {
    background-color: #3d48bd;
    color: white;
}

.graphButton.highlighted {
    background-color: #5da55f;
    color: white;
}


