body {
    background-color: #202124;
    color: #e8eaed;
    font-family: Arial, Helvetica, sans-serif;
}


.projects-container {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    color: #e8eaed;
    font-size: large;
    padding: 3px;
}

.projects-container:hover {
    color: #898e95;
}

.editor-button {
    margin-top: 6px;
}
