
body {
    background-color: #1b1b1e;
    color: #f1f1f2;
    font-family: Helvetica, sans-serif;
}

h1 {
    color: #dfdfdf;
    text-align: center;
}


.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.project-button {
    font-family: Helvetica, sans-serif;
    background: none;
    border: none;
    color: #e8eaed;
    font-size: large;
    padding: 3px;
}


.project-button:hover {
    color: #898e95;
}


.editor-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.editor-button {
    margin-right: 6px;
    background-color: #454e5b;
    color: #e8eaed;
    font-size: 0.9rem;
    padding: 0.3rem 0.8rem;
    border: 1px solid #080808;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editor-button:hover {
    background-color: #5f6368;
}

.editor-button.highlighted {
    background-color: #3d48bd;
    color: white;
}
