body {
    background-color: #1b1b1e;
    color: #f1f1f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    margin-left: 40px;
}


.projects-container {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    color: #e8eaed;
    font-size: large;
    padding: 3px;
}

.projects-container:hover {
    color: #898e95;
}

.editor-button {
    margin-top: 10px;
    margin-right: 6px;
    background-color: #454e5b;
    color: #e8eaed;
    /*font-size: 1rem;*/
    padding: 0.2rem 0.5rem;
    border: 1px solid #080808;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editor-button:hover {
    background-color: #5f6368;
}

.editor-button.highlighted {
    background-color: #3d48bd;
    color: white;
}
